<h1>Create a new Room</h1>
<div class="room-form-container">
  <%= simple_form_for @room, class: "room-form" do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.button :submit, "Create Room" %>
  <% end %>
</div>
